.ice-checkbox {
  @include selection-control("checkbox");

  &.is-inline {
    .ice-checkbox__helpText {
      margin-top: 0;
    }
  }

  &:hover {
    .ice-input {
      &:checked {
        @include faux-selector("checkbox") {
          @include checked-sign(
            $ice-checkbox-check-sign-height, 
            $ice-checkbox-check-sign-width, 
            $ice-checkbox-hover-color
          );
        }
      }

      &:indeterminate {
        @include faux-selector("checkbox") {
          @include indeterminate-sign(
            $ice-checkbox-indeterminate-height, 
            $ice-checkbox-indeterminate-width, 
            $ice-checkbox-hover-color
          );
        }
      }
    }
  }

  .ice-input {
    // States
    // 1. normal/unchecked
    //    1. hover;
    //    2. focus/active;
    //    3. diabled;
    // 2. checked
    //    1. hover;
    //    2. focus/active;
    //    3. disabled;
    // 3. indeterminate
    //    1. hover;
    //    2. focus/active;
    //    3. disabled;

    &:indeterminate {
      @include faux-selector("checkbox") {
        @include indeterminate-sign(
          $ice-checkbox-indeterminate-height, 
          $ice-checkbox-indeterminate-width, 
          $ice-checkbox-indeterminate-color
        );

        border-color: $ice-checkbox-focused-border-color;
      }
    }

    &:disabled {
      &:checked {
        @include faux-selector("checkbox") {
          @include checked-sign(
            $ice-checkbox-check-sign-height, 
            $ice-checkbox-check-sign-width, 
            $ice-checkbox-disabled-color
          );
        }
      }

      &:indeterminate {
        @include faux-selector("checkbox") {
          @include indeterminate-sign(
            $ice-checkbox-indeterminate-height, 
            $ice-checkbox-indeterminate-width, 
            $ice-checkbox-disabled-color
          );

          border-color: $ice-form-disabled-border-color;
        }
      }
    }
  }
}
