$demo-container-width: 400px;

* {
  box-sizing: border-box;
}

.demo-header,
.title {
  text-align: center;
}

.scroll-container {
  height: 400px;
  width: 400px;
  overflow: scroll;
  margin: auto;
  border: 2px solid grey;
}

.item-container {
  height: 1000px;
  width: 800px;

  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-text {
  text-align: center;
}

.demo-container {
  margin: 50px auto;
  width: $demo-container-width;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.demo-item {
  margin-bottom: 20px;
}
