<!-- https://github.com/firefly-ui/ff-checkbox/blob/master/addon/templates/components/ff-checkbox.hbs -->

{{yield}}
{{ice-checkbox-base
  on-change="sendChecked"
  value=value
  checked=checked
  disabled=disabled
  indeterminate=indeterminate
}}
<div class="ice-checkbox-mark"></div>