%input {
  // Reset placeholder
  @include placeholder($ice-input-placeholder-color-base);
  
  position: relative;
  display: inline-block;
  font-size: $ice-input-font-size-base;
  line-height: $ice-input-line-height-base;
  transition: all $ice-input-transition-speed;

  @include default();

  // different states
  &:hover {
    @include hover();
  }

  &:focus,
  &:active,
  &.is-active {
    @include active();
  }

  &:disabled,
  &.is-disabled {
    @include disabled();
  }

  &:read-only {
    @include readonly();
  }

  &.is-error {
    @include error();
  }

  &.is-warning {
    @include warning();
  }
}

.ice-input {
  @extend %input;
  @include inputSize();
}


// Size
.ice-input-sm {
  @extend %input;
  @include inputSize("small");
}