// Core Input Mixins
// -----------------------------------------------------------------------------


@mixin placeholder($color) {
  // Firefox
  &::-moz-placeholder {
    color: $color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }

  // Internet Explorer 10+
  &:-ms-input-placeholder {
    color: $color;
  }

  // Safari and Chrome
  &::-webkit-input-placeholder {
    color: $color;
  }
}


// Size placeholders for input
//not sure if neccesary
@mixin inputSize($size: 'medium') {
  $input-padding-vertical: '';
  $input-height: '';
  @if $size == 'small' {
    $input-padding-vertical: $input-padding-vertical-sm;
    $input-height: $input-height-sm;
  } @else if $size == 'medium' {
    $input-padding-vertical: $input-padding-vertical-base;
    $input-height: $input-height-base;
  }
  padding: $input-padding-vertical $input-padding-horizontal-base;
  height: $input-height;
}


@mixin input-type($bg-color, $border-color, $text-color, $cursor) {
  background-color: $bg-color;
  border-color: $border-color;
  color: $text-color;
  cursor: $cursor;
}


// Maybe could be reused across other components 
// Input status
// when default
@mixin default() {
  @include input-type(
    $input-default-bg-color, 
    $input-default-border-color, 
    $input-default-color, 
    $input-default-cursor
  ); 
}


// when :focus or :active
@mixin active() {
  @include input-type(
    $input-focused-bg-color, 
    $input-focused-border-color, 
    $input-focused-color, 
    $input-focused-cursor
  );

  outline: 0;
}


// when :hover
@mixin hover() {
  @include input-type(
    $input-hover-bg-color, 
    $input-hover-border-color, 
    $input-hover-color, 
    $input-hover-cursor
  ); 
}


// when :disabled
@mixin disabled() {
  @include input-type(
    $input-disabled-bg-color, 
    $input-disabled-border-color, 
    $input-disabled-color, 
    $input-disabled-cursor
  );

  @include placeholder($input-disabled-placeholder-color); 
}


// when :read-only
@mixin readonly() {
  @include input-type(
    $input-readonly-bg-color, 
    $input-readonly-border-color, 
    $input-readonly-color, 
    $input-readonly-cursor
  ); 
}


// when in error
@mixin error() {
  @include input-type(
    $input-error-bg-color, 
    $input-error-border-color, 
    $input-error-color, 
    $input-error-cursor
  ); 
}


// when in warning
@mixin warning() {
  @include input-type(
    $input-warning-bg-color, 
    $input-warning-border-color, 
    $input-warning-color, 
    $input-warning-cursor
  );
}
