// 1. form style reset
// 2. form control validation

.ice-form {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin: 0;
  padding: 0;
}

.ice-form__content {
  padding: $ice-form-content-padding 0;
}

.ice-form__heading {
  font-size: $ice-form-heading-font-size;
  line-height: $ice-form-heading-line-height;
  color: $ice-form-heading-color;
  padding-bottom: $ice-form-heading-spacing-bottom;
  margin: 0;

  border-bottom: $ice-form-heading-split-line-height solid $ice-form-heading-split-line-color;
}
