// Core Form Variables  
// ---


// Layout
$ice-form-content-padding:              $spacing-triple !default;


// Form Heading
$ice-form-heading-color:                $text-dark !default;
$ice-form-heading-font-size:            $font-size-large !default;
$ice-form-heading-line-height:          $line-height-base !default;
$ice-form-heading-spacing-bottom:       $spacing-small / 2 !default;

// Form Heading Split Line
$ice-form-heading-split-line-height:    $global-border-size !default;
$ice-form-heading-split-line-color:     $border-input !default;