<h2 class="title">Checkbox</h2>

<div class="demo-container">
  <div class="demo-item">
    {{#ice-checkbox
        checked=checked
        indeterminate=indeterminate
        disabled=disabled
        on-change=(action (mut checked))
    }}
      <label>Checkbox:</label>
    {{/ice-checkbox}}
  </div>
  <div class="demo-item">
    {{#ice-checkbox
        checked=true
        indeterminate=indeterminate
        disabled=disabled
    }}
      <label>Checked Checkbox:</label>
    {{/ice-checkbox}}
  </div>
  <div class="demo-item">
    {{#ice-checkbox
        checked=checked
        indeterminate=true
        disabled=disabled
    }}
      <label>Indeterminate Checkbox:</label>>
    {{/ice-checkbox}}
  </div>
  <div class="demo-item">
    {{#ice-checkbox
        checked=checked
        indeterminate=indeterminate
        disabled=true
    }}
      <label>Disabled Checkbox:</label>
    {{/ice-checkbox}}
  </div>
</div>