<h2 class="title">Input</h2>

<div class="demo-container">
  <h3>Text Input</h3>
  <div class="demo-item">
    {{ice-input 
      type="text"
      shouldFocus=true
    }}
  </div>
  <div class="demo-item">
    {{ice-input 
      type="text"
      inputId="text1"
      label="<h1>Text Input with Label</h1>"
    }}
  </div>
  <div class="demo-item">
    {{ice-input 
      type="text"
      inputId="text2"
      disabled="true"
      label="Disabled Text Input"
    }}
  </div>
  <div class="demo-item">
    {{ice-input 
      type="text"
      inputId="text3"
      label="Text Input with Event handlers"
      onFocusIn="eventHanlders"
      onFocusOut="eventHanlders"
      onKeyDown="eventHanlders"
      onKeyPress="eventHanlders"
      onKeyUp="eventHanlders"
    }}
  </div>
</div>