<h2 class="title">Input</h2>

<div class="demo-container">
  <div class="demo-item">
    {{ice-input 
      type="text"
    }}
  </div>
  <div class="demo-item">
    {{ice-input 
      type="text"
      label="Text Input with Label"
    }}
  </div>
  <div class="demo-item">
    {{ice-input 
      type="text"
      disabled="true"
      label="Disabled Text Input"
    }}
  </div>
</div>