<h3 class="title">Radio</h3>

<div class="demo-container">
  <div class="demo-item">
    {{#ice-form-element
      legend="Portal Date Display"
      introText="Displayed when an annualized figure is calculated for a position held for less than one year"
    }}
      {{ice-radio-group options=options name="radio-group 2"}}
    {{/ice-form-element}}
  </div>
</div>